<h1>{{ title }}</h1>

<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom"
         [disableDefaultUI]="false"
         [zoomControl]="false" >
  <agm-marker  *ngFor="let m of markers; let i = index"
              [latitude]="m.lat"
              [longitude]="m.lng"
              [markerDraggable]="m.draggable"></agm-marker>

  <agm-polygon  [paths]="paths"
                [fillColor]="'#004c80'"
                [fillOpacity]= 0.1
                [strokeColor]="'#09f'"
                [strokeOpacity]= 0.8
                [draggable]="true">
  ></agm-polygon>

</agm-map>

